body {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 50px;
}

.main {
  color: white;
}

.main h1 {
  font-size: 8vw;
  font-weight: 500;
}

.main h1 span {
  font-weight: 700;
  color: #6699CC;
}

.main p {
  font-size: 20px;
  font-weight: 100;
  margin-top: 20px;
}

/* gambar */
/* .bg-img {
  position: absolute;
  top: -150px;
  left: -10px;
} */

/* button proyeksi */
.main button {
  background-color: #FF4887;
  color: white;
  margin-top: 20px;
}

/* form angka latitude dan longitude */
.formMap{
  padding-top: 10px;
  padding-bottom: 20px;
}

/* bagian bencana */
.bencana{
  color: white;
}

/* button analisis */
.btn-primary{
  margin: 5px;
}

/* kolom bencana */
.tabel-overflow{
  overflow: auto;
}

.tabel-bencana{
  color: white;
  width: 90%;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

/* skala bencana */
.progress-bar {
	width: 100%;
}

/* form keterangan bencana */
.form-control{
  width: 100%;
  height: 100px;
}

/* card view */
.card-body {
  position: relative; 
  overflow: hidden;
  width: 100%;
  margin: 5px;
}